* {
	font-family: 'Times New Roman', Times, serif;
	
}

body{
	background-color: #6bc1ff92;
}
.card{
	margin-left: 10px;
	margin-right: 10px;
	background-color: #d69a3a;
	color:black;
	box-shadow: -10px 0px 43px 34px rgba(0,0,0,0.1);
	border-color: #d69a3a;
	font-weight:400;
}

.navbar {
	
	color: white;
	font-weight: 600;
	box-shadow: -48px 9px 20px 8px rgba(0,0,0,0.1);
	background-color: rgba(255, 255, 255, 0.686);
}

.nav-link {
	color: black;
}

.nav-link:hover {
	color:#6bc1ff;
}

.btn {
	background-color: #6bc1ff;
	color: black;
	font-weight:400;
}

hr{
	font-weight: bold;
}

h1 {
	font-size:x-large;
}

thead {
	background-color: #6bc1ff;
}
